<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/browse.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse Recipes</title>
</head>
<body>
    <div class="container">
    <!-- Your content goes here -->  
    <div class="title_block"> 
    <h1>Browse Recipes</h1>
     <p>Select a category to begin.</p>
     </div>
     <div class="categories">
        <div class="Starters">
            <p><a href="./recipe_detail.html">Starters</a></p>
        </div>
        <div class="Mains">
            <p><a href="./recipe_detail.html">Mains</a></p>
        </div>
        <div class="Snacks">
            <p><a href="./recipe_detail.html">Snacks</a></p>
        </div>
        <div class="Drinks">
            <p><a href="./recipe_detail.html">Drinks</a></p>
        </div>
        <div class="Baking">
            <p><a href="./recipe_detail.html">Baking</a></p>
        </div>
        <div class="Soups">
            <p><a href="./recipe_detail.html">Soups</a></p>
        </div>
        <div class="Breakfast">
            <p><a href="./recipe_detail.html">Breakfast</a></p>
        </div>
        <div class="Vegetarian">
            <p><a href="./recipe_detail.html">Vegetarian</a></p>
        </div>
    </div>
     
     <div class="popular_recipes">
        <div class="popular_recipe_header">
            <p>Or, select from our most popular recipes below:</p>
        </div>

        <div class="recipe1">
            <figure><img src="cinnabon.jpg" style="width:200px;height:200px"><figcaption><a href="./recipe_detail.html">Cinnabon</a></figcaption></figure>
        </div>

        <div class="recipe2">
            <figure><img src="sausage_roll.jpg" style="width:200px;height:200px"><figcaption><a href="./recipe_detail.html">Sausage Rolls</a></figcaption></figure>
        </div>

        <div class="recipe3">
            <figure><img src="butter_chicken.jpg" style="width:200px;height:200px"><figcaption><a href="./recipe_detail.html">Butter Chicken</a></figcaption></figure>
        </div>
        
           
    </div>
     <div class="navbar">
        <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./browse.html">Browse</a></li>
        </ul>
    </div>
    </div>   

</body>
</html>


