<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/browse.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse Recipes</title>
</head>
<body>
    <div class="container">
    <!-- Your content goes here -->  
    <div class="title_block"> 
    <h1>Browse Recipes</h1>
     <p>Here, you can browse all recipes available on this website. Select a link to view a recipe in detail.</p>
     </div>
     <div class="example_recipe">
        <p><a href="./recipe_detail.html">Example Recipe</a></p>
        <img src="cinnabon.jpg" alt="A freshly baked cinnabon." style="width:100px;height:100px">
     </div>
     
     <div class="search_bar">
        <label for="search">Search for recipes here:</label>
        <input type="text" id="search" name="search">
     </div>
     <div class="popular_recipes">
        <div class="popular_recipe_header">
            <p>Or, select from our most popular recipes below:</p>
        </div>

        <div class="recipe1">
            <figure><img src="cinnabon.jpg" style="width:200px;height:200px"><figcaption><a href="./recipe_detail.html">Cinnabon</a></figcaption></figure>
        </div>

        <div class="recipe2">
            <figure><img src="sausage_roll.jpg" style="width:200px;height:200px"><figcaption><a href="./recipe_detail.html">Sausage Rolls</a></figcaption></figure>
        </div>

        <div class="recipe3">
            <figure><img src="butter_chicken.jpg" style="width:200px;height:200px"><figcaption><a href="./recipe_detail.html">Butter Chicken</a></figcaption></figure>
        </div>
        
           
    </div>
     <div class="navbar">
        <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./browse.html">Browse</a></li>
        </ul>
    </div>
    </div>   

</body>
</html>


