<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CompSci 235 Recipe Website</title>
</head>
<body>
    <!-- Your content goes here -->
    <h1>CompSci 235 Website</h1>
    <p>This website has been created for CompSci 235 Lab 3.</p>

    <div class="navbar">
        <ul>
            <li><a>Click here to return to the home page: </a><a href="./index.html">Home</a></li>
            <li><a>Click here to browse all the recipes on this website: </a><a href="./browse.html">Browse Recipes</a></li>
        </ul>
    </div>

    <div class="example recipes">

    <div class="picture">
        <div class="picture_header">
            <p>An preview of some of the amazing food you will find recipes for on this website!</p>
        </div>
        <div class="picture_image">
            <img src="cheese.webp" alt="Cheese board" style="width:200px;height:100px"><img src="bread.jpg" alt="Cheese board" style="width:200px;height:100px"><img src="fish.webp" alt="Cheese board" style="width:200px;height:100px">
        </div>
    </div>

</body>
</html>



