<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/recipe_detail.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe</title>
</head>
<body>
    <!-- Your content goes here -->
    <h1>Cinnamon Brioche</h1>
    <div class="intro_image">
        <img src="cinnabon.jpg" style="width:200px;height:200px">
    </div>
     
    <div class="recipe-info">
        <div class="recipe-ingredients">
            <h2>Ingredients</h2>
            <ul>
                <li><a>125mL Milk</a></li>
                <li><a>2 1/2 Tsp Instant Yeast</a></li>
                <li><a>50g sugar</a></li>
                <li><a>600g flour</a></li>
                <li><a>5 large eggs</a></li>
                <li><a>1 1/2 tsp salt</a></li>
                <li><a>230g unsalted butter</a></li>

                <li><a>75g unsalted butter</a></li>
                <li><a>soft brown sugar</a></li>
                <li><a>1 Tbsp ground cinnamon</a></li>
                <li><a>60g cream cheese</a></li>
                <li><a>150g confectioners sugar</a></li>
                <li><a>2Tbsp milk</a></li>
                <li><a>1/2 Tsp vanilla extract</a></li>
            </ul>
        </div>

        <div class="recipe-instructions">
            <h2>Instructions</h2>
            <ol>
                <li><a>In a bowl of a stand mixer fitted with a dough hook, add the milk and stir in the yeast and one tablespoon of sugar. Leave it to sit for 5-10 minutes until foamy. </a></li>
                <li><a>Add to it the remaining sugar, eggs, flour, and salt. Turn the mixer on low and combine until it forms a thick but slightly sticky dough. Mix this dough for around 5 minutes to begin developing the gluten.</a></li>
                <li><a>Add in the cubed butter, a few pieces at a time. Incorporate each cube before the next addition.</a></li>
                <li><a>Turn the mixer on medium and keep it mixing until the sticky dough starts to strengthen and come together and pull away cleanly from the sides of the bowl. Mix the dough for the best gluten development and brioche crumb for at least 15 minutes. Proper gluten development will allow you to stretch the dough so thin you can almost see through it. This is called the 'window pane' test.</a></li>
                <li><a>Pull the dough from the bowl onto a bench and form it into a ball. Place the dough ball into a clean bowl and cover it. Let it proof at room temperature for 1- 2 hours until doubled in size. The rising time will depend on room temperature.</a></li>
                <li><a>Deflate the dough gently and reshape it into a ball again. Cover it with an airtight lid or plastic wrap and place it in the fridge overnight. This step can be shortened, but 8-12 hours long cold proof gives the best flavor.</a></li>
            <ol>
        </div>
    </div>

    <div class="navbar">
        <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./browse.html">Browse</a></li>
        </ul>
    </div>      

</body>
</html>

