body
{
    background-color:white
}

a{
    color: #FFFFFF;
    text-decoration: none;
}

a:hover{
    color: #FF0000;
    text-decoration: none;
    cursor: pointer;
}

.container
{
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr;
    border-style: double;
    border-color: white;
    border-width: 10px;
    padding: 20px;
    gap: 20px;
    background-color:antiquewhite;
}

.title_block
{
    position: relative;
    min-height: 300px;
    justify-self: stretch;
    align-self: stretch;

    background-image: url("../images/cat_header_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    text-align: center;
    font-size: clamp(1.5rem, 2vw + 1rem, 3rem);
    padding: 50px;
    color: white;
    z-index: 1;
}
.title_block::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: -1;
}

.categories
{
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 1fr;
    justify-items: center;
    padding: 10px;
    gap: 10px;
    background-color: white;

    text-align: center;
    font-size: clamp(1.5rem, 2vw + 1rem, 3rem);
    color: white;
    z-index: 1;
    
}



.categories > * 
{
    aspect-ratio: 1/1;
    background: lightgray;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Starters{
    position: relative;
    min-height: 100px;
    justify-self: stretch;
    align-self: stretch;

    background-image: url("../images/cat_starters_sized.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    text-align: center;
    font-size: clamp(1.5rem, 2vw + 1rem, 3rem);
    padding: 50px;
    color: white;
    z-index: 1;
}
.Starters::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: -1;
}
.Mains{
    position: relative;
    min-height: 100px;
    justify-self: stretch;
    align-self: stretch;

    background-image: url("../images/cat_main_sized.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    text-align: center;
    font-size: clamp(1.5rem, 2vw + 1rem, 3rem);
    padding: 50px;
    color: white;
    z-index: 1;
}
.Mains::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: -1;
}
.Snacks{
    position: relative;
    min-height: 100px;
    justify-self: stretch;
    align-self: stretch;

    background-image: url("../images/cat_snacks_sized.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    text-align: center;
    font-size: clamp(1.5rem, 2vw + 1rem, 3rem);
    padding: 50px;
    color: white;
    z-index: 1;
}
.Snacks::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: -1;
}
.Drinks{
    position: relative;
    min-height: 100px;
    justify-self: stretch;
    align-self: stretch;

    background-image: url("../images/cat_drinks_sized.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    text-align: center;
    font-size: clamp(1.5rem, 2vw + 1rem, 3rem);
    padding: 50px;
    color: white;
    z-index: 1;
}
.Drinks::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: -1;
}
.Baking{
    position: relative;
    min-height: 100px;
    justify-self: stretch;
    align-self: stretch;

    background-image: url("../images/cat_baking_sized.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    text-align: center;
    font-size: clamp(1.5rem, 2vw + 1rem, 3rem);
    padding: 50px;
    color: white;
    z-index: 1;
}
.Baking::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: -1;
}
.Soups{
    position: relative;
    min-height: 100px;
    justify-self: stretch;
    align-self: stretch;

    background-image: url("../images/cat_soups_sized.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    text-align: center;
    font-size: clamp(1.5rem, 2vw + 1rem, 3rem);
    padding: 50px;
    color: white;
    z-index: 1;
}
.Soups::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: -1;
}
.Breakfast{
    position: relative;
    min-height: 100px;
    justify-self: stretch;
    align-self: stretch;

    background-image: url("../images/cat_breakfast_sized.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    text-align: center;
    font-size: clamp(1.5rem, 2vw + 1rem, 3rem);
    padding: 50px;
    color: white;
    z-index: 1;
}
.Breakfast::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: -1;
}
.Vegetarian{
    position: relative;
    min-height: 100px;
    justify-self: stretch;
    align-self: stretch;

    background-image: url("../images/cat_vegetarian_sized.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    text-align: center;
    font-size: clamp(1.5rem, 2vw + 1rem, 3rem);
    padding: 50px;
    color: white;
    z-index: 1;
}
.Vegetarian::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: -1;
}


.search_bar
{
    grid-row: 3;
    grid-column: 1/-1;
}

.example_recipe
{
    grid-row: 4;
    grid-column: 1/-1;
}

.popular_recipes
{
    
    display: grid;
    grid-row: 5;
    grid-column: 1/ -1;
    grid-template-columns: repeat(3, 1fr);
    padding: 1px;
}

.popular_recipe_header
{
    grid-row: 1;
    grid-column: 1/-1;
    padding: 5px;
    justify-self: stretch;
    align-self: center;
    text-align: center;
}
.recipe1
{
    grid-row: 2;
    grid-column: 1;
    padding: 5px;
    justify-self: center;
    align-self: center;
    background-color: white;
}
.recipe2
{
    grid-row: 2;
    grid-column: 2;
    padding: 5px;
    justify-self: center;
    align-self: center;
    background-color: white;

}
.recipe3{
    grid-row: 2;
    grid-column: 3;
    padding: 5px;
    justify-self: center;
    align-self: center;
    background-color: white;

}
.navbar
{
    grid-row: 6;
    grid-column-start: 1/-1;
}

